*.class
.DS_Store
.idea
.settings
documentation/
overlays/
out/
tmp/
conf/application.conf.bak
*.iml
*.ipr
*.iws
target/
*.bak
.classpath
.externalToolBuilders/
.project
build/

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/

